@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}
.placeholder-color{
  color:#e0e0e0;
  font-weight:300;
}

.image-loading {
  filter: blur(20px);
  clip-path: inset(0);
}

.image-loaded {
  filter: blur(0);
  transition: filter 0.5s ease-in-out;
}
